!!!
%html
  %head
    %title
      rrivas Blog
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      .alert{ class: "alert-#{name == :notice ? 'success' : 'error'}"}
        %a.close{ :'data-dismiss' => 'alert' }
          x
        = msg
    .container
      .row
        .span9
          = yield
        .span3
          %h2= "About Us"
          %p= Lorem::Base.new('paragraphs', 2).output
