!!!
%html
  %head
    %title
      rrivas Blog
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ :'data-toggle' => "collapse", :'data-target' => ".nav-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: '#' }
            rrivas.com
          .nav-collapse
            %ul.nav
              %li= link_to "Browse Products"
              %li= link_to "Price List" 
              %li= link_to "Contact Us" 
              %li= link_to "Cart"
              %li.dropdown
                %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown' }
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a
                      stuff
                  %li
                    %a
                      stuff
                  %li
                    %a
                      stuff
              %li
                - if current_user
                  .pull_right
                    = current_user.full_name
                - else
                  %form.navbar-form.pull-left{ action: sessions_path, method: 'post' }
                    %input.input-small.span2#signin_email{ type: 'text', name: 'user[email]', placeholder: 'Email' }
                    %input.input-small.span2#signin_password{ type: 'password', name: 'user[password]', placeholder: 'Password' }
                    %button.btn#signin_button{ type: 'submit' }
                      Sign in


    - flash.each do |name, msg|
      .alert{ class: "alert-#{name == :notice ? 'success' : 'error'}"}
        %a.close{ :'data-dismiss' => 'alert' }
          x
        = msg
    .container
      .row
        .span9
          = yield
        .span3
          %h2= "About Us"
          %p= Lorem::Base.new('paragraphs', 2).output
